@import '../../@theme/styles/themes';

@include nb-install-component() {

  ::ng-deep {
    .echart {
      display: block;
      height: 100%;
      width: 100%;
    }

    canvas {
      border-bottom-left-radius: nb-theme(card-border-radius);
      border-bottom-right-radius: nb-theme(card-border-radius);
    }
  }

  ngx-flow-graph-chart{
    flex: 1;
  }

}


