@import './themes';

@mixin nb-overrides() {
  nb-select.size-medium button {
    padding: 0.4375rem 2.2rem 0.4375rem 1.125rem !important;

    nb-icon {
      right: 0.41rem !important;
    }
  }
}


// hide the registration link, as registration is disabled
section[aria-label="Register"], a.text-link[href="/auth/register"] {
  visibility: hidden !important;
}

