<div class="row">

  <div class="col-xxl-6 col-md-12" >
    <ngx-validation-card [title]="'Dialogflow QC'"></ngx-validation-card>
  </div>



  <div class="col-xxl-6 col-md-12">
    <nb-card >
      <nb-card-body>
        <div class="progress-info" >
          <div class="subtitle">Number of intents</div>
          <div class="h3">123</div>
        </div>
      </nb-card-body>
    </nb-card>
  </div>


</div>


<div class="row">
  <div class="col-xxl-12">
    <ngx-echarts-line></ngx-echarts-line>
  </div>
</div>
