<div class="row">

  <div class="col-xl-4 col-md-12">
    <div *ngIf="intentErrors$ | async as intentErrorsList ">
      <ngx-validation-card [title]="'Overall Quality'" [isValid]="intentErrorsList.length===0"></ngx-validation-card>
    </div>
  </div>

  <div class="col-xl-4 col-md-12">
    <nb-card>
      <nb-card-body>
        <div class="progress-info">
          <div class="h3">{{intentCount$ | async}}</div>
          <div class="subtitle">Number of intents</div>
        </div>
      </nb-card-body>
    </nb-card>
  </div>

  <div class="col-xl-4 col-md-12">
    <nb-card>
      <nb-card-body>
        <div class="progress-info">
          <div class="h3">{{trainingSentencesCount$ | async}}</div>
          <div class="subtitle">Number of training sentences</div>
        </div>
      </nb-card-body>
    </nb-card>
  </div>


</div>

<div class="row">
  <div class="col-xxl-12">
    <div *ngIf="intentErrors$ | async as intentErrorsList ">
      <ngx-intent-list [intentErrors]="intentErrorsList"></ngx-intent-list>
    </div>
  </div>
</div>


<div class="row">
  <div class="col-xxl-12">
    <div *ngIf="conversionSessionStats$ | async as conversionSessionStats">
      <nb-card size="large">
        <nb-card-header>
          <span>Dialogflow session and fallbacks</span>

          <nb-select [(selected)]="type" (selectedChange)="dateSelectionChanged($event)">
            <nb-option *ngFor="let t of types" [value]="t">{{ t }}</nb-option>
          </nb-select>
        </nb-card-header>

        <ngx-session-kpi-chart [conversionSessionStats]="conversionSessionStats"></ngx-session-kpi-chart>
      </nb-card>


    </div>
  </div>
</div>
